[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/JavaKit"]
	path = bundle/JavaKit
	url = https://github.com/vim-scripts/JavaKit.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/viki_vim"]
	path = bundle/viki_vim
	url = https://github.com/tomtom/viki_vim.git
